/* canvas {
      background-color: white;
      border: 1px solid black
    } */

.btn { margin: 10px; }
.file { margin: 10px; }
.form-control { height: 50%; }

div {
/*overflow: hidden; 이거 끄니까 코드미러 넘버링나옴 */
height: auto;
}

/* 
.canvas {
margin-left: 10px;
} */

#pyCodeEditor {
    position: absolute;
    width: 100%;
}

#jsCodeEditor {
    position: relative;
    visibility: hidden;
}

/* 기본 로딩 이미지, 그래프 로딩 이미지 */
#loading_image1 {
    position: relative;
    padding-top: 1.5vh;
    padding-left: 3vh;
    padding-right: 2vh;
    height: 30px;
}

#loading_image2 {
    position: relative;
    padding-top: 4vh;
    padding-left: 3vh;
    padding-right: 2vh;
    height: 30px;
}
/* 기본 로딩 이미지, 그래프 로딩 이미지 */
